* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header Styling */
header {
	background-color: #0da5c8;
	color: white;
	padding: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 8px;
	/* box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); */
	margin-bottom: 40px;
}

.logo h1 {
  font-size: 24px;
  font-weight: bold;
}

/* Navigation Styling */
.navbar ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.navbar ul li {
  margin: 0 15px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: opacity 0.3s ease;
}

.navbar ul li a:hover {
  opacity: 0.8;
}

/* Hamburger Menu Styling */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
  transition: all 0.3s ease;
}

/* Responsive Navigation */
@media (max-width: 768px) {
  .navbar ul {
      position: absolute;
      top: 60px;
      right: 0;
      background-color: #007bff;
      flex-direction: column;
      width: 100%;
      height: calc(100vh - 60px);
      align-items: center;
      justify-content: center;
      transform: translateX(100%);
      transition: transform 0.3s ease;
  }

  .navbar ul.nav-active {
      transform: translateX(0);
  }

  .navbar ul li {
      margin: 20px 0;
  }

  .hamburger {
      display: flex;
  }

  /* Change hamburger to cross on toggle */
  .hamburger.toggle .bar:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
  }

  .hamburger.toggle .bar:nth-child(2) {
      opacity: 0;
  }

  .hamburger.toggle .bar:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
  }
}
